<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Recipe</h1>
    <form action="/recipes" method="post">
      Name: <input id="name" type="text" name="name"><br>
      Ingredients: <input id="ingredients" type="text" name="ingredients"><br>
      Cook time: <input id="cook_time" type="text" name="cook_time"><br>
      <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
